html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
#root {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'LibreFranklin-Bold';
  src: url('./../public/fonts/LibreFranklin-Bold.ttf');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LibreFranklin-Regular';
  src: url('./../public/fonts/LibreFranklin-Regular.ttf');
  font-style: normal;
  font-display: swap;
}